* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app p {
  font-size: 1.5rem;
  color: white;
}

.app{
  position: relative;
  width: 100%;
}

.background{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.weather{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 7px #403eaf;
  
}

.top {
  position: relative;
  width: 95%;
  margin: 30px auto;
}
.location p {
  font-size: 18px;
  font-weight: 500;
}
.description p {
  color: white;
  transform: rotate(1.25turn);
  position: absolute;
  right: 0;
  font-size: 22px;
  bottom: 30px;
}
.temp h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.bottom {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  width: 95%;
  margin: 20px auto;
  justify-content: space-evenly;
  text-align: center;
}

.title p:nth-child(2) {
  font-weight: 700;
}
.title p:nth-child(1) {
  height: 80px;
  font-weight: 300;
}

.cards{
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.card{
  width: 250px;
  height: 250px;
  border-radius: 20px;
  position: relative;
  box-shadow: 2px 2px 7px #403eaf;
}
.card:hover{
  transform: scale(1.1);
  transition: all .6s;
}

.card img{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card h1{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  --max-lines: 2;
  font-size: 22px;
  color: white;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  bottom: 10px;
  padding: 5px;
}

.logo{
  font-weight: 700;
  font-size: 42px;
  color: #403eaf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
  background-color: #399783ab;
  color: white;
  font-weight: 600;
}